[submodule "vim/vimdata/bundle/vim-fugitive"]
	path = vim/vimdata/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/vimdata/bundle/command-t"]
	path = vim/vimdata/bundle/command-t
	url = https://github.com/wincent/command-t.git
[submodule "vim/vimdata/bundle/lightline.vim"]
	path = vim/vimdata/bundle/lightline.vim
	url = https://github.com/itchyny/lightline.vim.git
[submodule "vim/vimdata/bundle/vim-colors-solarized"]
	path = vim/vimdata/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vim/vimdata/bundle/vim-commentary"]
	path = vim/vimdata/bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
